input {
    udp {
      port => '5555'
    }
}
input {
    file {
      path => [
        "/var/log/gitlab/sidekiq/current",
        "/var/log/gitlab/gitlab-rails/*_json.log",
        "/var/log/gitlab/gitaly/current",
        "/var/log/gitlab/praefect/current"
      ]
      type => "json_logs"
    }
}

filter {
    if [type] == "json_logs" {
        json {
            source => "message"
        }
    }
}

# Inspired by https://gitlab.com/gitlab-cookbooks/gitlab-elk/-/blob/master/templates/default/logstash-gitlab.erb

output {
    elasticsearch {
        hosts => [{{ groups['elastic']| map('extract', hostvars, ['ansible_fqdn']) | map('regex_replace', '^(.*)$', "'\\1'")| join(', ') }}]
        index => "get-gitlab-geo"
    }
}
